.word {
  border: 2px solid #303952;
  border-radius: 12px;
  min-width: 150px;
  text-align: center;
  padding: 8px;
  background: white;
  cursor: pointer;
}

.word:hover,
.word:focus {
  background-color: var(--summertime);
}