.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    132deg,
    #ffbe91 25%,
    #ffddb0 25.1%,
    #ffddb0 50%,
    #fffce1 50.1%,
    #fffce1 75%,
    #cfebff 75.1%,
    #cfebff 100%
  );
}

.box {
  width: 1000px;
  height: 600px;
}
