.toolbarWrapper {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 100%;
  background-color: var(--creamy-peach);
  z-index: 2;
  position: relative;
}

.wrapper {
  height: 100%;
  width: 100%;
}