.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sidebar main";
  gap: 1rem;
  width: 1200px;
  margin: auto;
  height: 600px;
  border: 1px solid red;
}
