.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: 300px 1fr;
    width: 1200px;
    min-height: 600px;
    border: 1px solid red;
    padding: 1rem;
    box-sizing: border-box;
}

.list {
    grid-column: 2 / 4;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--spacing) * 2);
}