@import "tailwindcss";
@import "@heroui/styles";

.sidebar {
  grid-area: sidebar;
}

.navbar {
  grid-area: navbar;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

html {
  /* font-family: "Pixelify Sans", cursive; */
}

:root {
  /* Palette from https://flatuicolors.com/palette/ru */
  --biscay: #303952;
  --pencil-lead: #596275;
  --deep-rose: #c44569;
  --geranium: #cf6a87;
  --mustard: #e77f67;
  --tigerlily: #e15f41;
  --apple-valley: #ea8685;
  --porcelian-rose: #e66767;
  --curacao: #3dc1d3;
  --squeaky: #63cdda;
  --cornflower: #546de5;
  --soft-blue: #778beb;
  --rosy-highlight: #f7d794;
  --summertime: #f5cd79;
  --rogue-pink: #f8a5c2;
  --flamingo-pink: #f78fb3;
  --creamy-peach: #f3a683;
  --sawtooth-aak: #f19066;
  --purple-mountain-majesty: #786fa6;
  --purple-corallite: #574b90;

  --border: #1D2128;
  --border-radius-large: 16px;
  --border-radius-medium: 8px;
  --border-radius-small: 4px;

  --padding-large: 32px;
  --padding-medium: 16px;
  --padding-small: 8px;

  --shadow-offset: 0 2px;
  --shadow-blur-radius: 0;
  --shadow-spread-radius: 1px;
  --shadow-color: var(--biscay);
  --shadow-color-hover: var(--pencil-lead);

  --box-shadow: var(--shadow-offset) var(--shadow-blur-radius) var(--shadow-spread-radius);

  --focus-color: var(--cornflower);
}

.br {
  border: 4px solid var(--border);
}

.br-l {
  border-radius: var(--border-radius-large);
}

.br-m {
  border-radius: var(--border-radius-medium);
}

.br-s {
  border-radius: var(--border-radius-small);
}

.p-l {
  padding: var(--padding-large);
}

.p-m {
  padding: var(--padding-medium);
}

.p-s {
  padding: var(--padding-small);
}

.shadow {
  border-color: var(--shadow-color);
  box-shadow: var(--box-shadow) var(--shadow-color);
}
.shadow:hover,
.shadow:focus {
  box-shadow: var(--box-shadow) var(--shadow-color-hover);
  border-color: var(--shadow-color-hover);
}